{% extends 'base.html' %}

    {% block body %}
    {% load static %}

<!-- LOGIN FORM -->
        <div class="login-section px-[10%] justify-around flex w-full mt-[100px]">

            <div class="login-form w-[40vw] px-[7%] bg-white py-[5%]">
                <h2 class="text-3xl font-bold text-blue-900 mb-6 text-center">Login</h2>
                {% if msg %}
                    <div class="bg-red-500 ml-[20%] my-5 px-4 h-[30px] absolute rounded-md text-center -mt-6 text-white">
                        <h1>{{msg}}</h1>
                    </div>
                {% endif %}
                <form action="{% url 'loguser' %}" method="post" class="mt-10 space-y-4">
                    {% csrf_token %}
                    <div class="w-full flex p-3 border border-gray-300 rounded-md focus:outline-blue-500 justify-between">
                        <label>Select User Type</label>
                        <select name="usertype" id="utype" class="w-[50%]">
                            <option value="">Select User type</option>
                            <option value="admin">Admin</option>
                            <option value="student">Student</option>
                            <option value="teacher">Teacher</option>
                        </select>
                    </div>

                    <input type="text" name="userid" placeholder="Enter User ID" class="w-full p-3 border border-gray-300 rounded-md focus:outline-blue-500" required>
                    <input type="password" name="password" placeholder="Enter Password" class="w-full p-3 border border-gray-300 rounded-md focus:outline-blue-500" required>
                    <button type="submit" class="w-full bg-blue-500 text-white py-3 rounded-md hover:bg-blue-600 focus:outline-blue-500">Login</button>
                
                </form>
            </div>

        </div>

{% endblock %}


