{% extends 'adminbase.html' %}
{% load static %}
{% block admin %}

<div class="">
        <h1 class="text-center text-blue-950 font-bold text-4xl pb-10">Enquiries</h1>
        <table class="flex">
            <tr class="flex">
                <th class="w-20 border">S. No</th>
                <th class="w-40 border">Name</th>
                <th class="w-52 border">Email Address</th>
                <th class="w-40 border">Phone</th>
                <th class="w-72 border">Admission Query</th>
                <th class="w-72 border">Query Date</th>
                <th class="w-40 border">Action</th>
            </tr>
            {% for e in enq %}
            <tr class="flex">
                <td class="w-20 border">{{e.id}}</td>
                <td class="w-40 border">{{e.name}}</td>
                <td class="w-52 border">{{e.email}}</td>
                <td class="w-40 border">{{e.phone}}</td>
                <td class="w-72 border">{{e.query}}</td>
                <td class="w-72 border">{{e.querydate}}</td>
                <td class="w-40 border">
                    <a href="{% url 'adminapp:delenq' id=e.id %}" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
</div>


{% endblock %}